body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #22223b;
}
button {
    background: none;
    color: #ff4d6d;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.25s;
}
button:hover {
    color: white;
    border-color: #64dfdf;
    box-shadow: 0 0.5em 0.5em -0.5em #64dfdf;
    transform: translateY(-0.25em);
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}